<div class="main">
  <div class="container pt-5 pb-5">
    <div class="row">
      <div class="col-12 col-sm-12 col-lg-6 col-sm-6">
        <img
          src="../../../assets/contract-img-new.webp"
          class="img-fluid"
          alt=""
        />
      </div>
      <div class="col-12 col-sm-12 col-lg-6 col-sm-6 para-text mt-4">
        <h1 class="ps-3">
          NO-CONTRACT <br />
          FACTORING
        </h1>
        <P class="ps-3">All your loading needs on one digital platform.</P>
        <ul>
          <li>Live load board with up to date entries nationwide</li>
          <li>Easy to find loads and carriers</li>
          <li>Attractive and easy to use interface</li>
          <li>Paperless transaction and documentation</li>
          <li>User business dashboard showing earnings and expenses</li>
          <li>Easy access to no contract factoring</li>
          <li>Live customer service 24/7</li>
        </ul>
        <div class="footer-col">
          <a  href="" class="ps-3 ">See More
            <i class="bi bi-chevron-right"></i>
              <i class="bi bi-chevron-right"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
